body {
	font-family: 'Shadows Into Light', cursive;
	background-color: #ecf0f1;
	color: #2980b9; 
	font-size: 2em;
}

#container {
	width: 100%;
	text-align: center;
}

#container label {
	display: block;
}

.username {
	padding: 10px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
}

.username:focus {
	outline: none;
	border-bottom: solid 2px #2980b9;
}